.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  top: 10px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 10px;
  z-index: 1;
}
