<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
          <!-- <a mat-list-item >
            <ul>
            <li>
              <a mat-list-item routerLink="/home">Add</a>
            </li>
            <li>
              <a mat-list-item routerLink="/Edit">Edit</a>
            </li>
            <li>
              <a mat-list-item routerLink="/View">View</a>
            </li>
          </ul> 
          </a> -->
          

          <li><a mat-list-item>Employee</a>
            <ul>
              <li><a mat-list-item routerLink="/home">Add</a></li>
              <a>
              <li><a mat-list-item routerLink="/View">View</a></li>
              </a>
              <li><a mat-list-item routerLink="/ViewData">ViewData</a></li>
            </ul>
          </li>
          <a mat-list-item (click)="login()" *ngIf="!token">Login</a>
          <a mat-list-item (click)="logout()" *ngIf="token">LogOut</a>
        </mat-nav-list>
      <!-- <ul>
        <li mat-menu-item>
          Employee
          <ul>
            <li>
              <a mat-list-item routerLink="/home">Add</a>
            </li>
            <li>
              <a mat-list-item routerLink="/Edit">Edit</a>
            </li>
            <li>
              <a mat-list-item routerLink="/View">View</a>
            </li>
          </ul>
        </li>
        <li>
          <a mat-list-item (click)="login()" *ngIf="!token">Login</a>
        </li>
        <li>
          <a mat-list-item (click)="logout()" *ngIf="token">LogOut</a>
        </li>
      </ul> -->
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>SSO-app</span>
      <span style="flex:auto;"></span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet *ngIf="token"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
